<!---Alert Success-->
<div
  *ngIf="showCompleted"
  class="m-5 alert alert-success d-flex align-items-center"
  role="alert"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    fill="currentColor"
    class="bi bi-bag-check"
    viewBox="0 0 16 16"
  >
    <path
      fill-rule="evenodd"
      d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z"
    />
    <path
      d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"
    />
  </svg>
  <div class="px-3">
    Obrigado por comprar conosco, aproveite!. Aguarde um momento, logo você será redirecionado.
  </div>
</div>

<div class="bg-light m-5 rounded-3">
  <div class="p-3">
    <h3>Você pagará</h3>
    <h4>R$ {{ total.toFixed(2) }}</h4>

    <button class="btn btn-primary" (click)="finalizeOrder()">
      Confirmar Compra
    </button>
  </div>
</div>

<table class="table table-hover table-striped table-responsive">
  <thead>
    <tr>
      <th scope="col">Produto</th>
      <th scope="col">Nome</th>
      <th scope="col">Quantidade</th>
      <th scope="col">Valor Unitário</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <th>
        <img
          class="img-fluid img-size"
          [src]="order.product.image.url"
          [alt]="order.product.image.alt"
        />
      </th>
      <td>{{ order.product.name }}</td>
      <td>
        <div class="d-flex">
          <button class="btn btn-light mx-3 fw-bold" (click)="increment(order)">
            +
          </button>
          <input
            class="form-control w-25"
            type="number"
            readonly
            [value]="order.amount"
          />

          <button class="btn btn-light mx-3 fw-bold" (click)="decrement(order)">
            -
          </button>

          <button class="btn btn-danger m-2" (click)="remove(order)">X</button>
        </div>
      </td>
      <td>R$ {{ order.product.price.toFixed(2) }}</td>
    </tr>
  </tbody>
</table>
