<!---Alert Success-->
<div
  *ngIf="showCompleted"
  class="m-5 alert alert-success d-flex align-items-center"
  role="alert"
>
  <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:">
    <use xlink:href="#check-circle-fill" />
  </svg>
  <div>An example success alert with an icon</div>
</div>

<div class="bg-light m-5 rounded-3">
  <div class="p-3">
    <h3>Você pagará</h3>
    <h4>R$ {{ total.toFixed(2) }}</h4>

    <button class="btn btn-primary" (click)="finalizeOrder()">
      Confirmar Compra
    </button>
  </div>
</div>

<table class="table table-hover table-striped table-responsive">
  <thead>
    <tr>
      <th scope="col">Produto</th>
      <th scope="col">Nome</th>
      <th scope="col">Quantidade</th>
      <th scope="col">Valor Unitário</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <th>
        <img
          class="img-fluid img-size"
          [src]="order.product.image.url"
          [alt]="order.product.image.alt"
        />
      </th>
      <td>{{ order.product.name }}</td>
      <td>
        <div class="d-flex">
          <button class="btn btn-light mx-3 fw-bold" (click)="increment(order)">
            +
          </button>
          <input
            class="form-control w-25"
            type="number"
            readonly
            [value]="order.amount"
          />

          <button class="btn btn-light mx-3 fw-bold" (click)="decrement(order)">
            -
          </button>

          <button class="btn btn-danger m-2">X</button>
        </div>
      </td>
      <td>R$ {{ order.product.price.toFixed(2) }}</td>
    </tr>
  </tbody>
</table>
